@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bucharest<br />
    Bd. Timisoara<br />
    <abbr title="Phone">P: </abbr>
    0720000001
</address>